@using System.Data
@{
    ViewData["title"] = "Excel Reader";
    DataTable data = ViewBag.Data;
    IFormFile excel = null;
}
<div class="table-responsive">
    @*Form untuk mengirim data ke controller*@
    <form method="post" enctype="multipart/form-data">
        <input type="file" asp-for="@excel" class="form-control" />
        <button type="submit" class="btn btn-success">UPLOAD EXCEL</button>
    </form>
    @if (data != null){
        @*Tabel untuk melakukan iterasi berdasarkan bentuk data pada excel*@
        <table class="align-middle mb-0 table table-hover">
            <thead>
                <tr>
                    @foreach (DataColumn col in data.Columns){
                        <th>@col.ColumnName</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (DataRow row in data.Rows){
                    <tr>
                        @foreach (DataColumn c in data.Columns){
                            <td>@row[c.ColumnName]</td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    }
</div>